

:root {
    --green: #1B6B25;
    --pink: #B51963;
    --guava: #C41F1B;
    --brown: #efe8b4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--brown);
    color: var(--guava);
}

nav {
    background-color: var(--pink);
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15vw;
    z-index: 3;
    font-family: "Noto Serif";
}

a {
    color: var(--brown);
    font-size: 30px;
    text-transform: uppercase;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arvo, sans-serif;
    text-align: center;
}

header::before {
    content: "";
    background-image: url(images/umbrella.webp);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

h1 {
    font-size: 60px;
    padding-top: 12vw;
    padding-bottom: 10vw;
    z-index: 2;
    display: block;
}

h2 {
    font-size: 40px;
    padding-bottom: 12vw;
    z-index: 2;
    display: inline-block;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10%;
    margin: 7vw;
    font-family: Quicksand;
    font-weight: 500;
}

section {
    grid-column-start: span 7;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

article {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

h3 {
    font-size: 35px;
    font-family: Arvo, sans-serif;
}

ul {
    list-style-image: url('images/closed-umbrella.png');
    display: flex;
    flex-direction: column;
    gap: 5vw;
}

li img {
    width: 100%;
    margin: 2vw auto;
}

aside {
    grid-column-start: span 4;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    background-color: var(--guava);
    color: var(--brown);
    border-radius: 25px;
    padding: 2vw;
    height: fit-content;
    font-weight: 400;
}

figure {
    text-align: center;
    font-size: 16px;
}

aside img {
    width: 100%;
}

h4 {
    font-size: 25px;
    font-family: Arvo, sans-serif;
}

footer {
    background-color: var(--pink);
    color: var(--brown);
    font-size: 16px;
    padding: 8px;
    text-align: center;
    font-family: "Noto Serif";
}