* {
    margin: 0;
    padding: 0;
}

:root {
    --green: #1B6B25;
    --pink: #B51963;
    --guava: #C41F1B;
    --brown: #efe8b4;
}

body {
    background-color: var(--brown);
    color: var(--guava);
}

nav {
    background-color: var(--pink);
    padding: 10px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15vw;
    z-index: 3;
}

a {
    color: var(--brown);
    font-size: 30px;
    text-transform: uppercase;
}

header {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header::before {
    content: "";
    background-image: url(images/umbrella.webp);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

h1 {
    font-size: 60px;
    padding: 100px;
    z-index: 2;
    display: block;
}

h2 {
    font-size: 40px;
    padding-bottom: 100px;
    z-index: 2;
    display: inline-block;
}